<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <h2>Registration</h2>
            <div class="alert alert-danger" role="alert" *ngIf="errServer">
                {{ errServer }}
            </div>
            <form [formGroup]="regForm" (ngSubmit)="onRegForm()">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" formControlName="login">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>