<p appColor>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aut itaque illum dignissimos blanditiis rerum qui aliquid iste modi non? Quod sapiente molestias dignissimos in sequi porro animi, voluptatum rerum.</p>
<app-home appColor [color]="'green'"></app-home>
<div>
  <div>
    <input type="radio" name="color" value="green" (change)="setColor('green')"> green
  </div>
  <div>
    <input type="radio" name="color" value="red" (change)="setColor('red')"> red
  </div>
  <div>
    <input type="radio" name="color" value="yellow" (change)="setColor('yellow')"> yellow
  </div>
  <div [ngSwitch]="color">
    <span *ngSwitchCase="'green'">green</span>
    <span *ngSwitchCase="'red'">red</span>
    <span *ngSwitchCase="'yellow'">yellow</span>
    <span *ngSwitchDefault>not set color</span>
  </div>
</div>

<ng-container *ngIf="2 < 1; else text2">
  text 1
</ng-container>
<ng-template #text2>
  text 2
</ng-template>