<!-- navigation -->
<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <a class="nav-link" routerLink="inbox" *ngIf="auth.user$ | async else guest">Inbox</a>
    <ng-template #guest>
    <a class="nav-link" routerLink="auth/login">Login</a>
    <a class="nav-link" routerLink="auth/registration">Registration</a>
  </ng-template>
    <button class="btn m-l-auto" (click)="auth.signOut()" *ngIf="auth.user$ | async">Logout</button>
  </nav>
</div>
<router-outlet></router-outlet>